html {
height: 100%;
width: 100%;
background: #C2DAFF;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-size: 18px;
line-height: 21px;
}

body {
display: flex;
height: 100%;
width: 100%;
margin: 0px;
}

.main-panel {
width: 80%;
min-width: fit-content;
height: max-content;
min-height: 80%;
z-index: 1;
display: grid;
grid-template-columns: 118px auto;
grid-template-rows: 100%;
grid-template-areas: "sidebar main";
margin: auto;
background: #F4F6F9;
box-shadow: 5px 7px 40px rgba(0, 0, 0, 0.2);
border-radius: 50px;
overflow: hidden;
}

nav {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
width: 118px;
background: #FF5800;
border-radius: 38px 0px 0px 38px;
}

/*menu items*/
.menuItem{
width: 65px;
height: 65px;
margin: 20px auto 20px auto;
	opacity: 0.75;
}

.menuItem.inactive:hover{
	opacity: 1;
}

.menuItem.active{
	opacity: 1;
}
.menuItem.inactive{
	opacity:0.75;
}

#earth{
width: 85px;
height: 85px;
}

main{
height: max-content;
min-height: 100%;
display: flex;
width: 100%;
}

.page{
width: 100%;
display: none;
flex-direction: column;
padding: 50px 60px 50px 60px;
}

.page.visible{
display: flex;
}

#home{
flex-direction: row;
}

.pageTitle{
font-size: 32px;
line-height: 42px;
margin-bottom: 20px;
font-size: 48px;
line-height: 56px;
}

/*menu*/

.background{
position: absolute;
height:100%;
width:100%;
}


/*main block*/

.mainInfo{
min-width: max-content;
min-height: max-content;
display: flex;
flex-direction: column; 
}

/*block itself*/
.infoBlock{
background: #FFFFFF;
border-radius: 10px;
display: flex;
flex-direction: column;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
min-width: max-content;
margin: 0px 0px 30px 0px;
max-width: 520px;
}

/*head contains name and button*/
.headLine{
display: flex;
padding: 15px 20px 10px 20px;
border-bottom-color: #D8DCE3;
border-bottom-width: 1px;
border-bottom-style: solid;
}

/*name of info block*/
.blockName{
flex: 1;
font-weight: bold;
align-self: center;
}


.button{
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
border-radius: 10px;
min-width: 150px;
width: fit-content;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
font-weight: bold;
font-size: 16px;
line-height: 19px;
cursor: pointer;
}

.button.disabled{
background: #E4E4E4;
color: #999999;
}

.button.enabled{
background: #73E24D;
color: #FFFFFF;
}

.infoBlockContent{
padding: 10px 25px 15px 20px;
min-width: max-content;
margin-block-start: 10px;
margin-block-end: 10px;
display: flex;
flex-direction: row;	
}

/* line with info*/

.checkbox:before {
    color: #FF7D84; /* Цвет маркера */
    content: "\1F534"; /* Сам маркер */
    padding-right: 5px; /* Расстояние от маркера до текста */
}

.checkbox.checked:before {
    color: #73E24D; /* Цвет маркера */
}

.infoBlockContent ul{
padding-inline-start:0px;
margin-block-start: 0px;
margin-block-end: 0px;
}

.infoBlockContent li{
list-style-type: none; /* Прячем исходные маркеры */
display: flex;
border-bottom-color: #D8DCE3;
border-bottom-width: 1px;
border-bottom-style: solid;
padding: 7px;
list-style-type: none; /* Убираем маркеры */
min-width: max-content;
}


/* property name*/
.infoBlockContent li :first-child{
width: 166px;
font-weight: bold;
padding-left: 6px;
margin-right: 10px;
}

.property :first-child{
color: #0A5499;
}
.infoBlockContent li :last-child{
min-width: max-content;
}
/*remove border of last line*/
.infoBlockContent :last-child{
border: none;
}
/* line in status block (with lightCircle)*/

#status{
font-size: 18px;
line-height: 27px;

}
#status .infoBlockContent 
{
margin-block-start: 0px;
margin-block-end: 0px;	
}

/* line in status block (with lightCircle)*/
#status .infoBlockContent > li{
display: flex;
border: none;
padding: 0px;
align-items: center;
}

/*set width for lightCircle*/
#status .infoBlockContent > li :first-child{
width: 11px;
min-width: auto;
margin: 0px 5px 0px 0px;
padding: 0px;
}
/**/
.captain :first-child{
color: #FF7D84;
}
.engineer :first-child{
color: #E69F54;
}
.doctor :first-child{
color: #64D03F;
}
.spaceMarine :first-child{
color: #5A95F2;
}

.illustrations{
justify-content: space-between;
display: flex;
flex-direction: column;
flex: 1;
}
.spaceSVG{
height: 100%;
}
.bigRocketSVG{
transform: rotate(-45deg);
height: 100%;
}
.r0 {
margin: -100px -50px auto auto;
height: 50%
}
.r1 {
margin: auto auto 0px auto;
height: 35%
}


/* page rocket choice*/
#rocketChoice .property :first-child{
width: 81px;
margin-right: 15px;
}

.rocketCards{
    display: flex;
    flex-wrap: wrap;
}

.rocketInfo{
display: flex;
align-items: center;
} 

.choose{
background: #D1E1FA;
height: 38px;
border-radius: 0px 00px 10px 10px;
display: flex;
    justify-content: center;
    align-items: center;
}

.rocketIcon{
margin-left: 0px;
margin-right:10px;
    height: 107px;
    width: 107px;
}

.rocketIcon img{
width: 100%;
}

.rocketCurrent .infoBlock{
height: 200px;
width: 500px;
}

.rocketCurrent li{
border: none;
}

.rocketCard{
width: 353px;
height: 186px;
margin-right: 45px;
}

.rocketInfo .infoBlockContent{
padding-right:15px;
padding-left:27px;	
}

/* radio */
.radioRocketChoice {
	margin: 0px;
	opacity: 0;
	width: 0px;
}
.radioRocketChoice+label{
	position: relative;
	cursor: pointer;
}
.radioRocketChoice + label:before {
	content: '';
	position: absolute;
	left: -26px;
	width: 16px;
	height: 16px;
	border: 1px solid #FFFFFF;
	border-radius: 9px;
}

.radioRocketChoice:checked + label:before {
	opacity: 1;
	border-color: #FFFFFF;
	background-color: #73E24D;
}

.radioRocketChoice:not(:checked) + label:before {
	opacity: 1;
	border-color: #000000;
	background-color: #FFFFFF;
}
