html {
height: 100%;
width: 100%;
background: #C2DAFF;
font-family: 'Roboto', sans-serif;
font-size: 13px;
    line-height: 13px;
}

body {
display: flex;
height: 100%;
width: 100%;
margin: 0px;
}

.main-panel {
z-index: 1;
display: grid;
grid-template-columns: 80px auto;
grid-template-rows: 100%;
grid-template-areas: "sidebar main";
width: 80%;
height: 85%;
margin: auto;
background: #F4F6F9;
box-shadow: 5px 7px 40px rgba(0, 0, 0, 0.2);
border-radius: 50px;
}

/*menu*/
nav {
display: flex;
flex-direction: column;
width: 80px;
background: #FF5800;
border-radius: 38px 0px 0px 38px;
}

/*menu items*/
nav *{
margin: 10px 15px 10px 15px;
opacity: 0.75;
}

#ellipsesGroup1{
position: absolute;
left: 60px;
top: 40px;
}

#ellipsesGroup2{
position: absolute;
right: 60px;
bottom: 20px;
}

.background{
position: absolute;
height:100%;
width:100%;
}

.mainInfo{
width: 50%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
margin-left: 30px;  
}

/*info blocks styles*/

/*block itself*/
.infoBlock{
background: #FFFFFF;
border-radius: 10px;
display: flex;
flex-direction: column;
margin-top: 25px;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

/*head contains name and button*/
.headLine{
display: flex;
padding: 10px 15px 10px 15px;
border-bottom-color: #D8DCE3;
border-bottom-width: 1px;
border-bottom-style: solid;
}

.infoBlockContent{
padding: 10px 15px 10px 15px;
}

/*name of info block*/
.blockName{
flex: 1;
font-weight: bold;
align-self: center;
}

.button{
background: #E4E4E4;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
border-radius: 10px;
width: 100px;
height: 20px;
display: flex;
justify-content: center;
align-items: center;
color: #999999
}

/* line with info*/
.infoBlockContent > div{
display: flex;
border-bottom-color: #D8DCE3;
border-bottom-width: 1px;
border-bottom-style: solid;
padding: 5px;
}

/* property name*/
.infoBlockContent > div :first-child{
width: 40%;
font-weight: bold;
color: #0A5499;
padding-left:5px;
}

/*remove border of last line*/
.infoBlockContent :last-child{
border: none;
}

/* line in status block (with lightCircle)*/
#status .infoBlockContent > div{
display: flex;
border: none;
padding-left:0px;
align-items: center;
}

/*set width for lightCircle*/
#status .infoBlockContent > div :first-child{
width: 11px;
margin: 0px 5px 0px 0px;
padding: 0px;
}



